/* Screen <= 768px */
@media screen and (max-width: 768px){
   body{
      background: none;
   }
   
   .main-container{
      opacity: 0%;
   }

   .container-login{
      width: 100%;
      padding: 100px;
   }
}

/* Screen <= 576px */
@media screen and (max-width: 576px){
   .container-login{
      padding: 10px;
   }
}

/* Screen >= 769px */
@media screen and (min-width: 769px){
   .container-login{
      width: 50%;
      padding: 20px;
   }
}

/* Screen >= 992px */
@media screen and (min-width: 992px){
   .container-login{
      width: 50%;
      padding: 50px;
   }

   .main-suptitle{
      font-size: 24px;
   }
   
   .main-title{
      font-size: 38px;
   }
}

/* Screen >= 1200px */
@media screen and (min-width: 1200px){
   .container-login{
      width: 40%;
      padding: 50px;
   }

   .main-suptitle{
      font-size: 32px;
   }
   
   .main-title{
      font-size: 58px;
   }
}

/* Screen >= 1400px */
@media screen and (min-width: 1400px){
   .container-login{
      width: 40%;
      padding: 100px;
   }

   .main-suptitle{
      font-size: 32px;
   }
   
   .main-title{
      font-size: 64px;
   }
}

/* Screen >= 1600px */
@media screen and (min-width: 1600px){
   .container-login{
      width: 40%;
      padding: 150px;
   }
}