*{
   box-sizing: border-box;
   font-family: "Fredoka", sans-serif;
   margin: 0px;
}

body{
   height: 100vh;
   min-width: 360px;
   background-image: url(./media/bg_clouds.svg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 0% 100%;
   position: relative;
}

.main-container{
   position: absolute;
   top: 50%;
   left: 20px;
   transform: translateY(-50%);
   text-align: center;
   transition: all 0.3s;
}

.main-suptitle{
   margin-bottom: 10px;
   background-color: rgba(255, 255, 255);
   padding: 5px 0px;
   font-weight: 500;
   font-size: 16px;
   text-transform: uppercase;
   transition: all 0.3s;
}

.main-title{
   font-size: 28px;
   font-weight: 500;
   background-color: rgba(0, 0, 0);
   color: white;
   padding: 15px 30px;
   transition: all 0.3s;
}

.container-login{
   background-color: white;
   height: 100%;
   width: 40%;
   float: right;
   padding: 150px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transition: all 0.3s;
}

/* Temp */
.container-login > section{
   background-color: white;
}

.section-header{
   width: 100%;
}

.section-header-logo{
   font-size: 52px;
   margin: 0px;
   color: black;
}

.section-header-title{
   margin: 12px 0px 0px 0px;
   font-size: 48px;
   font-weight: 500;
}

.section-header-subtitle{
   margin: 0px;
   font-size: 18px;
   color: rgb(190, 190, 190);
}

.section-form{
   width: 100%;
   margin: 38px 0px;
}

.section-form form{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.section-form-input{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-bottom: 12px;
}

.section-form-input input{
   border-radius: 5px;
   border: 2px solid lightgray;
   width: 100%;
   padding: 10px 15px;
   font-size: 16px;
   outline: none;
}

.section-form-input input:focus{
   border-color: rgb(140, 140, 140);
}

.section-form-input input[type="email"]{
   margin-bottom: 20px;
}

.section-form-option{
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.section-form-option > label{
   display: flex;
   align-items: center;
}

.section-form-option input[type="checkbox"]{
   margin-right: 5px;
   height: 15px;
   width: 15px;
}

.section-form-option input[type="checkbox"]:hover{
   cursor: pointer;
}

.section-form-option a{
   text-decoration: none;
   color: black;
   font-weight: 500;
   transition: 0.1s;
}

.section-form-option a:hover{
   color: #DB4437;
}

.section-form-buttons{
   margin-top: 36px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.section-form-buttons > button{
   width: 50%;
   padding: 15px 0px;
   font-size: 16px;
   border: none;
   border-radius: 5px;
   font-weight: 500;
   transition: 0.3s;
}

.section-form-buttons-signIn{
   margin-right: 10px;
   color: white;
   background-color: rgb(0, 180, 255);
}

.section-form-buttons-signIn:hover{
   cursor: pointer;
   transform: scale(0.95);
}

.section-form-buttons-google{
   margin-left: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.section-form-buttons-google:hover{
   cursor: pointer;
   transform: scale(0.95);
}

.section-form-buttons-google > p{
   margin-right: 8px;
}

.section-form-buttons-google > i{
   color: #DB4437;
}

.section-footer{
   width: 100%;
   text-align: center;
}

.section-footer a{
   text-decoration: none;
   color: black;
   font-weight: 500;
   transition: 0.1s;
}

.section-footer a:hover{
   color: #DB4437;
}